@{
    ViewData["Title"] = "Home Page";
    var kullanici = ViewBag.Kullanici as dynamic;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello, @kullanici.Ad, @kullanici.Soyad</p>
</div>
